{% extends 'base.html' %}

{% block content %}
<div class='d-flex justify-content-center' style='padding-top: 10vh'>
    <div class="card" style="width: 18rem;">
        <div class="card-body text-center" style='color: blue'>
          <h5 class="card-title">Sailek Torreyes</h5>
          <h5 class="card-subtitle">28.176.171</h5>
          <p class="card-text">Seccion 1</p>

          <a href="https://github.com/SaiPand" class="card-link"> 
              <i class="fa-brands fa-github"></i>
                @SaiPand
            </a>
        </div>
    </div>
</div>

{% endblock content %}